*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(76, 76, 76);
    color: white;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box-1{
    width: 45rem;
    height: 53rem;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;


}

.box-2{

    display: grid;
    grid-template-columns: 12rem 12rem 12rem;
    grid-template-rows: 12rem 12rem 12rem;
    gap: 0.2rem;

}

.box-2 div{
    border: 4px solid rgb(93, 93, 93);
    cursor: pointer;
    display: flex;
    box-shadow: 1px 1px 4px black,-1px -1px 4px black;

}


.rect,#x{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 .rect-1{
    border-top:none ;
    border-left:none ;
}

.box-2 .rect-2{
    border-top:none ;
}

.box-2 .rect-3{
    border-top:none ;
    border-right:none ;
}

.box-2 .rect-4{
    border-left:none ;
}

.box-2 .rect-6{
    border-right:none ;
}

.box-2 .rect-7{
    border-left:none ;
    border-bottom:none ;
}

.box-2 .rect-8{
    border-bottom:none ;
}

.box-2 .rect-9{
    border-bottom:none ;
    border-right:none ;
}

.info{
    display: flex;
    gap: 6rem;
    margin: 2rem 0;
}

.info div{
    text-align: center;
    font-size: 1.2rem;

}

.info div .score{
    margin: 1rem;
    font-size: 1.8rem;
}

#x{
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

#restart{   
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    background-color: rgb(19, 238, 219);
    color: rgb(253, 253, 253);
    font-size: 1.4rem;
    transition:0.4s;
}

#restart:hover{
    background: rgb(27, 27, 27);
    color: white;
}



